asm/
backups/
betterrecords/
crash-reports/
journeymap/
logs/
opframce_cache/
saves/
screenshots/
shitlist/
tv-cache/
.ReAuth.cfg
crafttweaker.log
hotbar.nbt
Mod List.md
*.so
*.dll
options.txt
output.gui
servers.dat
usercache.json
usernamecache.json